@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto+Condensed&family=Roboto:wght@100;300&family=Work+Sans:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  color: black;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  /* font-family: "Work Sans", sans-serif; */
  /* font-family: "Oswald", sans-serif; */
}
